<!doctype html>
<head>
<meta charset="utf-8">
<title>{% block title %}{% endblock %}</title>

<!-- meta -->
<meta name="description" content="Some desc here...">
<meta name="keywords" content="Some keywords here...">
<meta name="author" content="">
<meta name="viewport" content="width=device-width,initial-scale=1">
<!-- /meta -->

<!-- styles -->
<link type="text/css" href="/static/css/base.css" rel="stylesheet">
<!-- /styles -->

</head>
<body>
      {% with messages = get_flashed_messages() %}
        {% if messages %}
          {% for message in messages %}
            <div class="alert alert-block alert-success" style="margin-top:20px;">
              <a class="close" data-dismiss="alert">&times;</a>
              {{ message }}
            </div>
          {% endfor %}
        {% endif %}
      {% endwith %}

      <!-- Page Content
        Page content goes here between block and endblock
      -->
      {% block content %}{% endblock %}
      <!-- /. Page Content -->

    <!-- Footer -->
    <footer class="footer">
      <div class="container">
        <a href="https://gitlab.com/arctic-wolves"><p>Copyright &copy; Arctic Wolves 2019</p></a>
      </div>
    </footer>
</body>
</html>
